* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: black;
  background-color: #1a1a1a;
  font-family: Lato, sans-serif;
  margin-top: 40px;
}

h1 {
  font-size: 25px;
  font-family: Roboto, sans-serif;
  text-align: center;
  margin: 20px 0;
}

/*app de Tareas*/
.aplicacion-tareas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* Listas de Tareas */
.tareas-lista-principal {
  width: 600px;
  min-height: 500px;
  background-color: #c2c2c2;
  padding: 25px;
  margin: 10px;
  border-radius: 26px;
  border: 2px black solid;
}
